<h2>Wonderlst</h2>

<table>
	<p><strong><%= link_to 'New Task', new_task_path %></strong></p>
	<tr>
		
		<th>Task</th>
		<th>State</th>
		<th colspan="4"></th>
	</tr>
    
	<% @to_do.each do |task| %>
		<tr>
			<td><%= task.content %></td>
			<td><%= task.state %></td>
			<td><%= link_to ' Show ', task_path(task)%></td>
			<td><%= link_to ' Edit ', edit_task_path(task)%></td>
			<td><%= link_to ' Delete ', task_path(task), method: :delete, data: { confirm: " Sure to remove Wonderlst task ? " }%></td>
			<td><%= link_to ' Doing ', change_task_path(task, state: "doing"), method: :put %></td>
		</tr>	
	<% end %>	
</table>

<h3>Doing</h3>

<table>
	
	<tr>
		<th>Task </th>
		<th>State</th>
		<th colspan="5"></th>
	</tr>
    
	<% @doing.each do |task| %>
		<tr>
			<td><%= task.content %></td>
			<td><%= task.state %></td>
			<td><%= link_to 'Show', task_path(task)%></td>
			<td><%= link_to 'Edit', edit_task_path(task)%></td>
			<td><%= link_to 'Delete', task_path(task), method: :delete, data: { confirm: " Sure to remove Wonderlst task ? " }%></td>
			<td><%= link_to 'Done', change_task_path(task, state: "done"), method: :put %></td>

		</tr>	
	<% end %>	
</table>

<h3>Done</h3>

<table>
	<tr>
        <th>Task </th>
		<th>State</th>
		<thcolspan="4"></th>
	</tr>
    
	<% @done.each do |task| %>
		<tr>
			<td><%= task.content %></td>
			<td><%= task.state %></td>
			<td><%= link_to 'Show', task_path(task)%></td>
			<td><%= link_to 'Edit', edit_task_path(task)%></td>
			<td><%= link_to 'Delete', task_path(task), method: :delete, data: { confirm: " Sure to remove Wonderlst task ? " }%></td>
		</tr>	
	<% end %>	
</table>